<a href="/home/signup" class="btn btn-block btn-lg btn-primary">Sign up</a>
<br/>
<a href="/home/signin" class="btn btn-block btn-lg btn-success">Sign in</a>
<br/>
<a href="/home/secret" class="btn btn-block btn-lg btn-danger">Enter at your own risk</a>